$maxMobile:"(max-width:767px)";
$minMedium:"(min-width:992px)";
$minSmall:"(min-width:768px)";
$minLarg:"(min-width:1200px)";

$mainColor: #e2494c;
$greyColor: #5e5e5e;

$float-left:left;
$float-right:right;

$text-right:right;
$text-left:left;